/*========INPUT==========*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #000 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc !important;
}

input[type="text"] {
    display: block !important;
}




.irs-min,
.irs-max {
    display: none;
    visibility: hidden
}

.irs-single {
    display: none;
}

.js-input {
    margin-top: 19px !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #318cda !important;
}

.irs--big .irs-handle {
    top: 29px;
    width: 20px !important;
    height: 20px !important;
   
}

.range-slider{
    margin-top: -8px !important;
}


.custome_select_option{
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    color: #000;
    font-weight: bold;
}



.data_simulator_title{
    display: block;
}

/*==============================================
            MEDIA QURIES
============================================*/

@media only screen and (min-width:768px) and (max-width: 959px) {

    #Influencer_table .data_simulator {
        width: 370px;
    }


}


@media only screen and (min-width:480px) and (max-width: 767px) {

    .table_range_slider{
       
        display: none;
    }

    .data_simulator_title{
        display: none;
    }

    #Influencer_table .data_simulator {
        width: 100%;
        margin-left: 10px;
    }

        
    .extra-controls {
        width: 50px !important;
        margin-right: 10px;
    }

}


@media only screen and (min-width:300px) and (max-width: 479px) {


    .table_range_slider{
     
        display: none;
    }

    .data_simulator_title{
        display: block;
    }


    #Influencer_table .data_simulator {
        width: 30px;
}

.data_simulator_title{
    display: none;
}


  
}



@media only screen and (min-width:300px) and (max-width: 480px) {

#wrapper, #footer, #footer-bottom, .container {
    width: 95% !important;
    margin: 0 auto !important;
}

}



