@charset "utf-8";
/* CSS Document */

.traingle_block{
	width:450px;
	height:auto;
	margin:0 auto;
	position:relative	
	
}

.svg_block_list{
	position:absolute;
	margin:0px;
	top:0px;
	left:0px;
	width:100%;
}

.svg_block_list li{
	display:block;
	text-align: center;
    color: #000;
    height: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin: 38px 0px;
}

.svg_block_list li a{
	color: #000 !important;
}


#SVGID_1:hover{
	fill=green;

	
}

@media only screen and (max-width: 767px) { 

.traingle_block{
	width:100%;
	height:auto;
	margin:0 auto;
	display:block;	
	
}

.svg_block_list li{
	display: block;
    text-align: center;
    color: #000;
    height: 0px;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    margin: 30px 0px;
}


 }
 
 
 @media only screen and (max-width: 470px) { 

.traingle_block{
	width:100%;
	height:auto;
	margin:0 auto;
	display:block;	
	
}

.svg_block_list li {
	display: block;
    text-align: center;
    color: #000;
    height: 0px;
    width: 100%;
    font-size: 9px;
    font-weight: 100;
    margin: 21px 0px;
}


 }