<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <!---Style Link-->
    <link href="style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/cuttr.js"></script>


</head>

<body>

    <div class="container-wrapper">
        <h3>WORLD COMPETITIVE MARKET SHARES </h3>
        <ul>
            <li class="header-section">
                <div>Logo</div>
                <div>Title & HQ</div>
                <div>Share</div>
            </li>


            <li>
                <!--type-1 image placment-->
                <div class="company-logo">
                    <a href="javascript:void(0)">
                        <img src="https://www.strategyr.com/uploads/images/CP-1512417/atechnics.png"
                            class="img-fluid"></a>
                </div>

                <div class="compnay-info">
                    <h4 class="truncate-characters">A.Technics Engineering</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>

            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/y/l/b/i/c/logo-agidens.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Agidens International NV</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/b/g/g/q/e/logo-ancra.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <div class="truncate-characters">
                        <h4>Ancra Systems B.V.</h4>
                        <h5>USA</h5>
                    </div>

                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/a/w/1/p/i/logo-kolom.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Asbreuk Service B.V.</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://www.strategyr.com/uploads/images/CP-112872/925858268s[1].jpg);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Bastian Solutions, Inc.</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/j/y/b/q/d/d09qr7ky-400x400.jpeg);">
                    </div>
                </a>

                <div class=" compnay-info">

                    <div>
                        <h4 class="truncate-characters">Beumer Group GmbH & Co. KG</h4>
                        <h5>USA</h5>
                    </div>


                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/t/9/b/l/e/ff-logo.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Feige Filling GmbH</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://www.strategyr.com/uploads/images/CP-1510164/AE%20Global%20Ltd.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters"> AE Global Ltd</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <input type="text" maxlength="4" class="js-input rank_input" placeholder="##.#">
                </div>


            </li>





        </ul>

    </div>

    <br />

    <div class="container-wrapper">
        <h3>USA MARKET PRESENCE RANKS BY ## KEY COMPANIES </h3>
        <ul>
            <li class="header-section">
                <div>Logo</div>
                <div>Title & HQ</div>
                <div>Rank</div>
            </li>


            <li>
                <!--type-1 image placment-->
                <div class="company-logo">
                    <a href="javascript:void(0)">
                        <img src="https://www.strategyr.com/uploads/images/CP-1512417/atechnics.png"
                            class="img-fluid"></a>
                </div>

                <div class="compnay-info">
                    <h4 class="truncate-characters">A.Technics Engineering</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>

            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/y/l/b/i/c/logo-agidens.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Agidens International NV</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/b/g/g/q/e/logo-ancra.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <div class="truncate-characters">
                        <h4>Ancra Systems B.V.</h4>
                        <h5>USA</h5>
                    </div>

                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/a/w/1/p/i/logo-kolom.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Asbreuk Service B.V.</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://www.strategyr.com/uploads/images/CP-112872/925858268s[1].jpg);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Bastian Solutions, Inc.</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/j/y/b/q/d/d09qr7ky-400x400.jpeg);">
                    </div>
                </a>

                <div class=" compnay-info">

                    <div class="truncate-characters">
                        <h4 class="ellipsis_text">Beumer Group GmbH & Co. KG</h4>
                        <h5>USA</h5>
                    </div>


                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>

            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://marketglass.com/uploads/images/t/9/b/l/e/ff-logo.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters">Feige Filling GmbH</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>


            </li>


            <li>

                <!--type-2 image placment-->
                <a href="javascript:void(0)">
                    <div class="company-logo2"
                        style=" background: url(https://www.strategyr.com/uploads/images/CP-1510164/AE%20Global%20Ltd.png);">
                    </div>
                </a>

                <div class=" compnay-info">
                    <h4 class="truncate-characters"> AE Global Ltd</h4>
                    <h5>USA</h5>
                </div>

                <div class="compnay-value">
                    <h6>WITHHELD</h6>
                </div>

            </li>





        </ul>

    </div>



</body>



</html>