/*==========================
    STYLES
==========================*/

body, p, a, li,h1,h2,h3,h4,h5,h5,table,td,th,tr {
    color: #023351;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
}

p, a, li,table,td,th,tr {
    font-size: 15px;
}

h1.font_01{
    font-size: 22px;
    font-weight: 700 !important;
    text-transform: uppercase;
}

h2.font_02{
    font-size: 20px;
    font-weight: bold;
}

h3.font_03{
    font-size:22px;
    font-weight: bold;
}


h4.font_04{
    font-size:18px;
    font-weight: bold;
}

h5.font_05{
    font-size:17px;
    font-weight: bold;
}


.Executive_Pool h2,
.Outreach h2,
.Competitors h2{
    font-size: 24px;
    font-weight: 900;
}

.Executive_Pool h3,
.Outreach h3,
.Competitors h3{
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 8px;
}




h6.font_06{
    font-size:16px;
    font-weight: bold;
}

a.link{
    color:#0071BC;
}

.primary_color{
    color:#1A1A1A
}

.secondary_color{
    color:#435FBD
}

.third_color{
    color:#444F58
}

.red_color{
    color:#CC0917
}


/*-----lAYOUT-------*/

#wapper{
    width: 1024px;
    z-index: 99;
}

#wapper .col-5{
    width: 425px !important;
}

#wapper .col-{
    width: 596px !important;
}


/*-----list style-----*/

.list_style {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin: 4px 0px;
    padding: 0px 5px;
}


.list_style  i {
        color: #D60010;
        font-size: 17px;
        font-weight: 300 !important
}

.fa-chevron-right{
    font-size: 12px !important;
}


/*--- EXECUTIVE IMAGE ---*/
.executive_block{
    height: 502px;
}


.log_block {
   
    height: auto;
        margin-top: -24px;
        padding-left: 61px;
        padding-top: 29px;
}
   
.log_block .logo{
width: 145px;
     
}
.log_block .logo_34{
    width: 62px;
    
}


.executive_image_block{
    z-index: -1;
    height: 100%;
}

.executive_image{
    width: 350px !important;
    height: 502px !important;
    z-index: -1;
}

.icon{
    width: 38px;
    height: auto;
    margin: 0 auto;
}




.Executive_Pool{
   
    margin-left: 77px;
    padding-top: 100px;
}

.Outreach{
  
    margin-left: 20px;
        width: 150px;
        margin-top: 28px;

}

.Competitors {
   
    margin-left: 70px;
    margin-top: 33px;
}


/*---DASH BOARD----*/

.dash_board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*---SEGMENTS---*/

.segments .list_style{
        list-style: none;
    }

.side_heading{
    text-align:left;
    min-width: 25px;
}

/*---GEOGRAPHICS---*/
.geographics .list_style{
    min-width: 114px;
    list-style: none;
}

/*---COMPETITORS---*/
.competitors .list_style{
    /*min-width: 130px;*/
    list-style: none;
}

/*--PREVIEW BLOCK---*/

.previewblock canvas{
    margin: 0 auto;
}

.note{
    font-size: 12px !important;
}

.box{
    width:150px;
    height:150px;
    border-radius: 100%;
    position: relative;
    
}


.box:nth-child(1) img.circle_img,
.box:nth-child(3) img.circle_img
{

        left: -63px;
        top: -26px;

}

.box:nth-child(2) img.circle_img,
.box:nth-child(4) img.circle_img
{

        left: -65px;
        bottom: -26px;

}


.box:nth-child(1){
    border: #C1272D solid 10px;
}

.box:nth-child(2){
    border: #023351 solid 10px;
}

.box:nth-child(3){
    border: #FF8017 solid 10px;
}

.box:nth-child(4){
    border: #08BCA2 solid 10px;
}