/*==========================
    STYLES
==========================*/

body, p, a, li,h1,h2,h3,h4,h5,h5,table,td,th,tr {
    color: #1A1A1A;
    line-height: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
}

p, a, li,table,td,th,tr {
    font-size: 15px;
}

h1.font_01{
    font-size: 22px;
    font-weight: 700 !important;
    text-transform: uppercase;
}

h2.font_02{
    font-size: 21px;
    font-weight: bold;
}

h3.font_03{
    font-size:22px;
    font-weight: bold;
}


h4.font_04{
    font-size:18px;
    font-weight: bold;
}

h5.font_05{
    font-size:17px;
    font-weight: bold;
}


.Executive_Pool h2,
.Outreach h2,
.Competitors h2{
    font-size: 24px;
    font-weight: 900;
}

.Executive_Pool h3,
.Outreach h3,
.Competitors h3{
    font-size: 18px;
    font-weight: 900;
}




h6.font_06{
    font-size:16px;
    font-weight: bold;
}

a.link{
    color:#0071BC;
}

.primary_color{
    color:#1A1A1A
}

.secondary_color{
    color:#435FBD
}

.third_color{
    color:#444F58
}

.red_color{
    color:#CC0917
}


/*-----lAYOUT-------*/

#wapper{
    width: 1024px;
    z-index: 99;
}

#wapper .col-5{
    width: 425px !important;
}

#wapper .col-{
    width: 596px !important;
}


/*-----list style-----*/

.list_style {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin: 2px 0px;
    padding: 0px 5px;
}


.list_style  i {
        color: #435FBD;
        font-size: 16px;
        font-weight: 400 !important
}

.fa-chevron-right{
    font-size: 12px !important;
}


/*--- EXECUTIVE IMAGE ---*/
.executive_block{
    height: 399px;
}


.log_block {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 29px;
}
   
.log_block .logo{
width: 145px;
     
}
.log_block .logo_34{
    width: 62px;
    
}


.executive_image_block{
    z-index: -1;
    height: 100%;
}

.executive_image{
    width: 350px !important;
    height: 399px !important;
    z-index: -1;
}

.icon{
    width: 38px;
    height: auto;
    margin: 0 auto;
}

.Executive_Pool,
.Outreach,
.Competitors{
    width: 150px;
}


.Executive_Pool{
   
    margin-left: -2px;
}

.Outreach{
  
    margin-left: 42px;

}

.Competitors {
   
     margin-left: 22px;
    margin-top: -18px;

}

/*---DASH BOARD----*/

.dash_board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*---SEGMENTS---*/

.segments .list_style{
        list-style: none;
    }

.side_heading{
    text-align:left;
    min-width: 25px;
}

/*---GEOGRAPHICS---*/
.geographics .list_style{
    min-width: 114px;
    list-style: none;
}

/*---COMPETITORS---*/
.competitors .list_style{
    /*min-width: 130px;*/
    list-style: none;
}

/*--PREVIEW BLOCK---*/

.previewblock canvas{
    margin: 0 auto;
}